<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <h1> The Home Page</h1>
    <p> edtyfasuyfasduyfoisudhfoijvoszk</p>

    <p> hdsfgszjnxamyfudhfvjsdvmc</p>
</body>
</html>